@font-face {
  font-family: pixelar ;
  src: url(Pixelar\ Regular\ W01\ Regular.ttf);
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pixelar, sans-serif;
  scroll-behavior: smooth;
}

html{
    font-size: 90.5%;
}


header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto; /* Two columns on larger screens */
  align-items: center;
  padding: 0px;
  height: 0px;
}

nav a{
 font-size: 1.8rem;
 color: black;
 margin-left: 4rem;
 font-weight: 500;
 transition: 0.3s ease;
 border-bottom: 3px solid transparent;
 text-decoration: none;


}



  
nav a:hover,
nav a.active {
  color: blue;
  border-bottom: 3px solid green; 
}


section  {
  padding: 100px;
  min-height: 100vh;
}


.hero-section {
  background-color: #7FA1C3;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  min-height: 100vh;
  padding: 0; /* Remove padding to ensure no extra space */
  margin: 0; /* Ensure no margin around the section */
}

.imgSidebar {
  flex: 1;
  height: 100%;
}

.imgSidebar img {
  width: 85%;
  height: 100vh; /* Make sure the image covers the full viewport height */
  object-fit: cover;
  display: block; /* Remove any gaps around the image */
}

.hero-contents {
  flex: 1;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-contents h1 {
  font-size: 7rem;
  margin-bottom: 20px;
  color: azure;
}
 
.hero-contents h4 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #63499e;
}

.hero-contents p {
  font-size: 1.9rem;
  margin-bottom: 20px;
  color: #003C43;
}



.hero-contents a.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #C37F9B;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-top: 20px;
  
}

