@font-face {
  font-family: pixelar ;
  src: url(Pixelar\ Regular\ W01\ Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none; 
  font-family: pixelar;
  scroll-behavior: smooth;
}
  .banner {
    background-color: #40A578;
    padding: 100px;
    min-height: 100vh;
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-size: 50px;
    color: #FFF;
  }

.header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9&;
  background-color: transparent;
}
