@font-face {
  font-family: pixelar ;
  src: url(Pixelar\ Regular\ W01\ Regular.ttf);
  font-display: swap;
}



* {
  margin: 0;
  padding: 0;
  font-family: pixelar, sans-serif;
  scroll-behavior: smooth;
}

html{
    font-size: 12pt;
}


nav {
  font-size: 2rem;
  height: 60px;
  background-color: #F7F7F8;
  display: flex;
  justify-content: flex-end ;
  align-items: center;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

nav a{
  height: 100%;
  padding: 0 20px;
  color: #000;
  font-weight: 500;
  display: flex; 
  align-items: center;
  text-decoration: none;


}



  
nav a:hover {
  color:#4E31AA
}
nav a.active {
  color: #3A1078;
  margin-right: auto; 
}

nav svg {
  fill: #FFF;
}


#sidebar-active {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  padding: 0 20px;
  display: none;
}

@media (max-width: 600px){
  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 250px;

    background-color: #F7F7F8;
    box-shadow: -0.1pc 0 0.1px black;
    transition: 1s ease-out;
    

  }
  nav a {
    box-sizing: border-box;
    height:auto;
    width:100%;
    padding: 20px 30px;
    justify-content: flex-start;
    color: #000000;


  }

  .open-sidebar-button, .close-sidebar-button{
    display: block;
    padding: 20px;
    z-index: 20;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
    
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

  }
}


section  {
  padding: 100px;
  min-height: 100vh;
}


.hero-section {
  background-color: #3795BD;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  min-height: 100vh;
  padding: 0; /* Remove padding to ensure no extra space */
  margin: 0; /* Ensure no margin around the section */
}

.imgSidebar {
  flex: 1;
  height: 100%;
}

.imgSidebar img {
  width: 85%;
  height: 100vh; /* Make sure the image covers the full viewport height */
  object-fit: cover;
  display: block; /* Remove any gaps around the image */
}

.hero-contents {
  flex: 1;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-contents h1 {
  font-size: 7rem;
  margin-bottom: 20px;
  color: azure;
}
 
.hero-contents h4 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #63499e;
}

.hero-contents p {
  font-size: 1.9rem;
  margin-bottom: 20px;
  color: #003C43;
}



.hero-contents a.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #C37F9B;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-top: 20px;
  
}

#section-2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: #003C43

}

.losthowl-banner{
  
  max-width: 80%;
  max-height: 80%;
  
}